{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}


            <!-- /#left -->
            <div id="content" class="bg-container">
                <header class="head">
                    <div class="main-bar row">
                        <div class="col-xs-6">
                            <h4 class="m-t-5">
                                <i class="fa fa-home"></i>
                                Dashboard
                            </h4>
                        </div>
                    </div>
                </header>
                <h3 class="mt-3 text-success">{{msg}}</h3>
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 m-t-10">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <div class=" twitter_section_head">
                                            Profile Details
                                   
                                        </div>
                                    </div>
                                    <div class="card-block twitter_section">
                                        <ul id="nt-example1">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-3 col-xl-2">
                                                        <img src="{{ usr.propic.url }}" alt="" srcset="" style="min-height: 200px; min-width: 300px; max-height: 200px; max-width: 300px;">
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-10 col-lg-9 col-xl-10">
                                                        <span class="name">Salution:</span>
                                                        <br>
                                                        <span class="msg">{{ usr.user_type | capfirst }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-10 col-lg-9 col-xl-10">
                                                        <span class="name">Username:</span>
                                                        <br>
                                                        <span class="msg">{{ usr.username }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-10 col-lg-9 col-xl-10">
                                                        <span class="name">First Name:</span>
                                                        <br>
                                                        <span class="msg">{{ usr.first_name }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-10 col-lg-9 col-xl-10">
                                                        <span class="name">Last Name:</span>
                                                        <br>
                                                        <span class="msg">{{ usr.last_name }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-10 col-lg-9 col-xl-10">
                                                        <span class="name">Email:</span>
                                                        <br>
                                                        <span class="msg">{{ usr.email }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-5 col-xs-12 m-t-10">
                                        <div class="block widget-notes">
                                            <div class="card" id="notes_section">
                                                <div class="card-header bg-white">
                                                    Address Details
                                                </div>
                                                <div class="content">
                                                    <div class="notes" contenteditable="true">
                                                        <div>
                                                            <b> Address Line1: </b>
                                                            <br>
                                                            {{ usr.address }}
                                                       
                                                            <br>
                                                            <b> City: </b>
                                                       
                                                            <br>
                                                            {{ usr.city }}
                                                       
                                                            <br>
                                                            <b> State: </b>
                                                            <br>
                                                            {{ usr.state }}
                                                       
                                                            <br>
                                                            <b> Pincode: </b>
                                                       
                                                            <br>
                                                            {{ usr.pincode }}
                                                            <br>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.outer -->
                </div>
                <!-- /#content -->
            </div>
        </div>
        <!--wrapper-->
        <div id="right">
            <div class="right_content">
                <div class="alert alert-success white_txt">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Welcome Micheal
                   
                        <br />
                    </strong>Set Your Skin Here. Checkout Admin Statistics. Good Day!.
           
                </div>
                <div class="well well-small dark">
                    <div class="xs_skin_hide hidden-sm-up toggle-right"><i class="fa fa-cog"></i></div>
                    <h4 class="brown_txt">
                        <span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                        </span>
                        Skins
                    </h4>
                    <br />
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('blue_black_skin.html','css')">
                        <div class="skin_blue skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('green_black_skin.html','css')">
                        <div class="skin_green skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('purple_black_skin.html','css')">
                        <div class="skin_purple skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('orange_black_skin.html','css')">
                        <div class="skin_orange skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('red_black_skin.html','css')">
                        <div class="skin_red skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('mint_black_skin.html','css')">
                        <div class="skin_mint skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('brown_black_skin.html','css')">
                        <div class="skin_brown skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skinmulti_btn" onclick="javascript:loadjscssfile('black_skin.html','css')">
                        <div class="skin_black skin_size"></div>
                        <div class="skin_black skin_size"></div>
                    </div>
                    <div class="skin_btn skin_blue" onclick="javascript:loadjscssfile('blue_skin.html','css')"></div>
                    <div class="skin_btn skin_green" onclick="javascript:loadjscssfile('green_skin.html','css')"></div>
                    <div class="skin_btn skin_purple" onclick="javascript:loadjscssfile('purple_skin.html','css')"></div>
                    <div class="skin_btn skin_orange" onclick="javascript:loadjscssfile('orange_skin.html','css')"></div>
                    <div class="skin_btn skin_red" onclick="javascript:loadjscssfile('red_skin.html','css')"></div>
                    <div class="skin_btn skin_mint" onclick="javascript:loadjscssfile('mint_skin.html','css')"></div>
                    <div class="skin_btn skin_brown" onclick="javascript:loadjscssfile('brown_skin.html','css')"></div>
                    <div class="skin_btn skin_black" onclick="javascript:loadjscssfile('black_skin.html','css')"></div>
                </div>
                <div class="well well-small dark">
                    <h4 class="brown_txt margin15_bottom">
                        <img src="img/admin.jpg" width="32" height="32" class="rounded-circle avatar-img" alt="avatar">
                        &nbsp;Admin
                    Statistics</h4>
                    <br />
                    <ul class="list-unstyled">
                        <li class="green_txt margin15_bottom">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-mint"></i>
                                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                            </span>&nbsp; Last Login
                       
                            <span class="inlinesparkline float-xs-right">2hrs Back</span>
                        </li>
                        <li class="warning_txt margin15_bottom">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-brown"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>&nbsp; Pending Tasks
                       
                            <span class="dynamicsparkline float-xs-right">12</span>
                        </li>
                        <li class="primary_txt margin15_bottom">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                            </span>&nbsp; Weather Today
                       
                            <span class="dynamicbar float-xs-right">Rainy</span>
                        </li>
                        <li class="margin15_bottom">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-brown"></i>
                                <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                            </span>&nbsp; Events
                       
                            <span class="inlinebar float-xs-right">Team Out</span>
                        </li>
                        <li class="success_txt margin15_bottom">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                            </span>&nbsp; Notifications
                       
                            <span class="inlinebar float-xs-right">5</span>
                        </li>
                    </ul>
                </div>
                <div class="well well-small dark right_progressbar_section">
                    <h4 class="brown_txt">
                        <span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x text-brown"></i>
                            <i class="fa fa-hand-o-down fa-stack-1x fa-inverse"></i>
                        </span>
                        Alerts
                    </h4>
                    <br />
                    <span>Sales Improvement</span>
                    <span class="float-xs-right">
                        <small>20%</small>
                    </span>
                    <div class="progress xs">
                        <progress class="progress progress-striped progress-primary" value="20" max="100"></progress>
                    </div>
                    <span>Server Load</span>
                    <span class="float-xs-right">
                        <small>80%</small>
                    </span>
                    <div class="progress xs">
                        <progress class="progress  progress-striped progress-mint" value="80" max="100"></progress>
                    </div>
                    <span>Traffic Improvement</span>
                    <span class="float-xs-right">
                        <small>55%</small>
                    </span>
                    <div class="progress xs">
                        <progress class="progress  progress-striped progress-danger" value="55" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
        <!-- # right side -->
    </div>
   
{% endblock main-content %}