{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}

    <div class="">
        <div style="padding-top: 2rem;">
            <div class="col-lg-10 push-lg-1 col-sm-10 push-sm-1">
                <div class="row">
                    <div class="col-lg-6 push-lg-3 col-sm-10 push-sm-1">
                        <div class="login_logo login_border_radius1">
                            <h3 class="text-xs-center">
                                <span class="text-white"> ATG <br />
                                    Sign Up</span>
                            </h3>
                        </div>
                        <div class="bg-white login_content login_border_radius">
                          <h5 class="mt-3 text-center text-danger">{{msg}}</h5>
                            <form class="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class=""> Select Salutation: </label>
                                        <div class="form-group">
                                            <select class="form-control" id="select" name = "dname"  value="{{pr.dname}}">
                                              {% for i in department %}
                                                <option value = "{{i}}" >{{i}}</option>
                                              {% endfor %}
                                            </select>    
                                          </div>
                                        </div>
    
                                        <div class="col-lg-12">
                                            <label class=""> Select Profile Picture: </label>
                                            <div class="form-group">
                                            <input class="form-control" type="file" name="propic" placeholder="Image" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="fname" placeholder="First Name" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="lname" placeholder="Last Name" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="username" placeholder="Username" required/>
                                            </div>
                                          </div>
                                                            
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input id="email" class="form-control" type="email" name="email" formControlName="email" pattern="[^ @]*@[^ @]*" placeholder="Input your Email" required />
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="address" placeholder="Address" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="city" placeholder="city" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="state" placeholder="State" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input class="form-control" type="text" name="pincode" placeholder="Pin Code" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input id="password" class="form-control" type="password" name="password1" formControlName="password" placeholder="Password" required/>
                                            </div>
                                          </div>
                                
                                          <div class="col-lg-12">
                                            <div class="form-group">
                                            <input id="password" class="form-control" type="password" name="password2" formControlName="password" placeholder="Confirm Password" required/>
                                            </div>
                                          </div> 
                                          
                                    <div class="col-lg-12 text-center">
                                        <button type="submit" class="btn btn-block btn-dark">Sign Up</button>
                                    </div>
                                    <div class="col-lg-12 text-center mt-5">
                                        Already have an account? <a href="{% url 'login' %}" class="text-danger">Sign In</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock main-content %}